
@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
}
<!-- Navmenu -->
			<header>
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><img src="~/content/img/logo.png" class="img-responsive" alt=""/></a>
					</div>
					<div class="collapse navbar-collapse in" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right menu-effect">
							@*<li class="current"><a href="/" data-hover="Home">Home</a></li>*@
                            <!-- Make DropDown Menu Item -->
                            @if(Request.Url.Host != "mobilehome.insure")
                            {
                            <li><a href="/Renters" data-hover="Quote&nbsp;Now">Quote Now</a></li>    
                            }
                            else
                            {
                                <li><a href="https://mobilehome.insure/Renters" data-hover="Quote&nbsp;Now">Quote Now</a></li>
                            }
                            
                            <li><a href="/Home/AboutUs" data-hover="About">About</a></li>
							
                            @*<li><a href="/Appraisal" data-hover="Appraisal">Appraisal</a></li>*@
                            @*<li>
                                <a href="/support" class="x-dropdown" data-hover="Support&nbsp;&#9663;">Support &#9662;</a>
                                @if(pageName == "support")
                                {
                                <ul class="n-dropdown">
                                    <li><a href="/support/StraightTalk" data-hover="straight&nbsp;talk&nbsp;customer&nbsp;service">straight talk customer service</a></li>
                                </ul>
                                }
                            </li>*@
                            <li><a href="/support" data-hover="Support">Support</a></li>
                            <li><a href="/home/contact" data-hover="Contact">Contact</a></li>
						</ul>
					</div>
				</nav>
				<!-- Navmenu -->
				
				<!-- Hidden Content -->
				<div class="m-header">
					<ul class="mh-social">
						<li><a href="https://plus.google.com/u/1/118097884396054129511/about/p/pub" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="https://twitter.com/MobileHomeIns" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/mobilehomeinsure" target="_blank"><i class="fa fa-facebook"></i></a></li>
						
					</ul>
					<p class="mh-copy">&copy; 2015 MobileHome.Insure, All Rights Reserved</p>
				</div>
				<div class="m-hide"><i class="fa fa-plus-circle"></i></div>
				<!-- Hidden Content -->
				
			</header>
