<!-- Navmenu -->
			<header>
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><img src="~/content/img/logo.png" class="img-responsive" alt=""/></a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right menu-effect">
							<li class="current"><a href="/" data-hover="Home">Home</a></li>
                            <!-- Make DropDown Menu Item -->
<!--							<li>
								<a class="dropdown" data-hover="About&nbsp;Us&nbsp;&#9663;">About Us &#9662;</a>
								<ul class="v-dropdown">
									<li><a href="./about.html" data-hover="About&nbsp;Us&nbsp;1">About Us 1</a></li>
									<li><a href="./about.html" data-hover="About&nbsp;Us&nbsp;2">About Us 2</a></li>
									<li><a href="./about.html" data-hover="About&nbsp;Us&nbsp;3">About Us 3</a></li>
									<li><a href="./about.html" data-hover="About&nbsp;Us&nbsp;4">About Us 4</a></li>
								</ul>
							</li>
-->                         <li><a href="#" data-hover="About">About</a></li>
							<li><a href="#" data-hover="Quote">Quote</a></li>
                            <li><a href="Appraisal/" data-hover="Appraisal">Appraisal</a></li>
							<li><a href="#" data-hover="Support">Support</a></li>
                            <li><a href="#" data-hover="Contact">Contact</a></li>
						</ul>
					</div>
				</nav>
				<!-- Navmenu -->
				
				<!-- Hidden Content -->
				<div class="m-header">
					<ul class="mh-social">
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						
					</ul>
					<p class="mh-copy">&copy; 2014 MobileHome.Insure, All Rights Reserved</p>
				</div>
				<div class="m-hide"><i class="fa fa-plus-circle"></i></div>
				<!-- Hidden Content -->
				
			</header>
