@model mobilehome.insure.Models.Rental.RentalViewModel
@{
    ViewBag.Title = "Mobile Home Insure for Rental Homes - MobileHome.Insure";
}

<style>
    /*#accordion {
        padding: 10px;
    }
    .ui-accordion-content {
        overflow-x: hidden !important;
        border: 0;
    }*/
    #ExpiryMonth, #ExpiryYear {
        width: 100px;
        display: inline-block;
    }
</style>

<div class="col-md-9 m-right">
    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/header-renters-app.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>Mobile Home Renters Insurance</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li>renters</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="rightContainer">
        <div class="row" data-animated="0">
            <div class="col-md-12" id="renterprocess">
                <div class="page-header">
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3" id="divPark" style="cursor:pointer">
                            <a href="#"><span class="badge">1</span> Selected Park</a>
                            <address>

                            </address>
                        </div>
                        <div class="col-md-3" id="divCustomer" style="cursor:pointer">
                            <a href="#"><span class="badge">2</span> Customer Information</a>
                            <address>

                            </address>
                        </div>
                        <div class="col-md-3" id="divPremium" style="cursor:pointer">
                            <a href="#"><span class="badge">3</span> Your Quote</a>
                            <address>

                            </address>
                        </div>
                        <div class="col-md-3" id="divPayment" style="cursor:pointer">
                            <a href="#"><span class="badge">4</span> Payment</a>
                        </div>
                    </div>
                </div>

                <div id="parkSeclection">
                    <br />
                    <div class="col-md-12">
                        <div class="row" data-animated="0">
                            <form>
                                <div class="col-md-8 col-md-offset-2">
                                    @Html.LabelFor(x => x.Zip)
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Zip, new { id = "findZip", @class = "form-control", @placeholder = "Enter your Zip Code" })
                                        <span class="input-group-btn">
                                            <button id="btnParkSelection" class="btn btn-primary" type="button">Start</button>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.Zip, "", new { @class = "text-danger" })
                                    <div class="form-group" id="divParks" style="display:none">
                                        <label for="ddlParks">Choose your mobile home park</label>
                                        <select id="ddlParks" class="form-control" placeholder="Select Park"></select>
                                    </div>
                                    <div>
                                        &nbsp;<button class="btn btn-default" id="btnParkSelContinue" style="display:none">Continue</button>
                                        &nbsp;<button class="btn btn-default" id="btnNotify" style="display:none">Notify Me</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="step1" style="display:none">
                    <blockquote>
                        <h3>Customer Information.</h3>
                    </blockquote>
                    <div>
                        <p>
                            @{Html.RenderPartial("_Step1", Model.customer);}
                        </p>
                    </div>
                    </div>
                <div id="step2" style="display:none">
                    @{Html.RenderPartial("_Step2", Model.quote);}
                </div>
                <div id="step3" style="display:none">
                    <blockquote>
                        <h3>Make Payment</h3></blockquote>
    <div>
        <p>
            @{Html.RenderPartial("_Step3", Model.payment);}
        </p>
    </div>
</div>
            </div>
            <div class="col-md-12" id="renterprint" style="display:none">
                <div id="m-info" class="center">
                    <div id="page-header">
                        <h3><span>Insured Details</span></h3>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>Insured Name</dt>
                        <dd id="infoName"></dd>

                        <dt>Insured Address</dt>
                        <dd id="infoAddress1"></dd>

                        <dt>Insured Address</dt>
                        <dd id="infoAddress2"></dd>

                        <dt>Insured City</dt>
                        <dd id="infoCity"></dd>

                        <dt>Insured State</dt>
                        <dd id="infoState"></dd>

                        <dt>Insured Zip Code</dt>
                        <dd id="infoZipCode"></dd>

                        <dt>Insured Phone</dt>
                        <dd id="infoPhone"></dd>

                        <dt>Insured Email</dt>
                        <dd id="infoEmail"></dd>
                    </dl>
                    <div id="page-header">
                        <h3><span>Transaction Details</span></h3>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>Policy Number</dt>
                        <dd id="infopolnbr"></dd>

                        <dt>Insurance Company</dt>
                        <dd id="infocopcod"></dd>

                        <dt>Payment ID</dt>
                        <dd id="infopmtid">pmtid</dd>

                        <dt>Installment Plan</dt>
                        <dd id="infopayopt">payopt</dd>

                         <dt>Total Premium Amount</dt>
                        <dd id="infopmtamttotal">pmtamttotal</dd>

                        <dt>Premium Charged Today</dt>
                        <dd id="infopmtamttoday">pmtamttoday</dd>

                        <dt>No. of Remaining Payments</dt>
                        <dd id="infonoofremainingpmt">infonoofremainingpmt</dd>

                        <dt>Transaction Date</dt>
                        <dd id="infotrndat">trndat</dd>

                        <dt>Transaction Time</dt>
                        <dd id="infotrntim">trntim</dd>
                    </dl>
                    <div id="page-header">
                        <h3><span>Thank you</span></h3>
                    </div>
                    <div>
                        <p>Thank you for purchasing your policy through Mobilehome. Insure.  Your policy has been placed with Aegis Security Insurance Company; an AM Best “A” rated insurance company.</p>

                        <p>You will be receiving an email confirmation of this transaction.</p>

                        <p>If you selected a budget payment option to pay for your policy, you will receive installment billing notices directly from Aegis. If you paid for your full annual premium, Aegis will bill you directly at renewal. Paying your premium on time will ensure coverage in the event of a covered loss. </p>

                        <p>Your policy will be processed and sent to your address in the next few days. If you do not receive your policy within ten business days please either email us at info@mobilehome.insure or call us at (877) 773-1055 to speak with one of our customer service representatives. Our hours of operation are from 8:00AM to 8:00PM Eastern Time.</p>

                        <p>Thank you for purchasing your renters insurance with MobileHome.Insure! If we can be of assistance, please don't hesitate to <a href="mailto:info@mobilehome.insure">email</a> us or call us at <a href="tel:877-773-1055 FREE">1-877-773-1055 FREE</a> today!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{

    <script>
        var zipCode = null;
        var parkId = null;

        //The magic code to add show/hide custom event triggers
        (function ($) {
            $.each(['show', 'hide'], function (i, ev) {
                var el = $.fn[ev];
                $.fn[ev] = function () {
                    this.trigger(ev);
                    return el.apply(this, arguments);
                };
            });
        })(jQuery);

        $(document).ready(function () {

            $("#divPark").click(function () {
                $("#parkSeclection").css("display", "block");
                $("#step1").css("display", "none");
                $("#step2").css("display", "none");
                $("#step3").css("display", "none");

            });
            $("#divCustomer").click(function () {
                $("#parkSeclection").css("display", "none");
                $("#step1").css("display", "block");
                $("#step2").css("display", "none");
                $("#step3").css("display", "none");
            });
            $("#divPremium").click(function () {
                $("#parkSeclection").css("display", "none");
                $("#step1").css("display", "none");
                $("#step2").css("display", "block");
                $("#step3").css("display", "none");
            });

            $("#divPayment").click(function () {
                $("#parkSeclection").css("display", "none");
                $("#step1").css("display", "none");
                $("#step2").css("display", "none");
                $("#step3").css("display", "block");
            });
            //$("#accordion").css("display", "none"); //initially it would be display=none
            $("#divParks").css("display", "none");
            $("#btnParkSelContinue").css("display", "none");
            $("#findZip").focus();

            $("#btnParkSelContinue").off("click");
            $("#btnParkSelContinue").on("click", function (e) {
                e.preventDefault();

                if ($("#ddlParks").val() > 0) {
                    zipCode = $("#findZip").val(); //zip for reference
                    parkId = $("#ddlParks").val();
                    $("#Zip").val(zipCode);
                    $.ajax({
                        url: "/Renters/GetParkDetail/" + $("#ddlParks").val(),
                        dataType: "json"
                    }).done(function (data) {
                        $("#divPark address").html("<strong>" + data.ParkName + "</strong><br>" + data.PhysicalAddress + "<br>" + data.PhysicalCity + ", " + data.PhysicalStateAbbr + ", " + data.Zip + "<br><abbr title=\"Phone\">P:</abbr> " + data.OfficePhone);
                        $("#City").val(data.PhysicalCity);
                        $("#ddlStateId").val(data.PhysicalStateId);
                        $("#ddlStateId").select2(
                            {
                                //placeholder: "Select a State",
                                allowClear: true
                            })
                            .on("change", function (e) {

                            });
                        //$('#ddlStateId').select2('data', { id: data.PhysicalStateId, a_key: data.PhysicalState })
                    });
                    $("#parkSeclection").css("display", "none");
                    $("#step1").css("display", "block");
                    $("#FirstName").focus();
                }
            });

            $("#btnNotify").on("click", function (e) {
                e.preventDefault();
                location.href = "/renters/notify?Zip=" + $("#findZip").val();
            });

            $("#btnParkSelection").off("click");
            $("#btnParkSelection").on("click", function (e) {
                e.preventDefault();

                var $form = $('form');
                if ($form.valid()) {
                    $('#dvLoading').show();

                    var ajaxOptions = {};
                    ajaxOptions.data = { zip: $("#findZip").val() }
                    ajaxOptions.url = "/Renters/FindZip";
                    ajaxOptions.contentType = 'application/json';
                    var request = $.ajax(ajaxOptions);

                    request.done(function (data2) {
                        if (data2.Result !== null && data2.Result !== "undefined") {
                            $("#btnParkSelContinue").css("display", "block");
                            $("#divParks").css("display", "block");
                            var datatmp = [];
                            $.each(data2.Result, function (index, item) {
                                datatmp.push({
                                    id: item.Id, text: item.ParkName + "", address: item.PhysicalAddress + "", city: item.PhysicalCity + ""
                                });
                            });
                            $("#ddlParks").select2({
                                data: datatmp, //{ results: data2.Result, text: function (item) { return item.Name; } },
                                placeholder: "Select a Park",
                                allowChar: true,
                                templateResult: function (item) {
                                    if (!item.id) { return item.text; }
                                    if (item.id == 0) { return $('<center>' + item.text + '</center>' ); }
                                    return $(
                                           '<div class="form-group" style="margin-bottom:5px;"><div class="row"><div class="col-md-2"><span style="font-weight:bold">Name:</span></div><div class="col-md-8">' + item.text + '</div></div></div>' +
                                           '<div class="form-group" style="margin-bottom:5px;"><div class="row"><div class="col-md-2"><span style="font-weight:bold">Address:</span></div><div class="col-md-8">' + item.address + '</div></div></div>' +
                                           '<div class="form-group" style="margin-bottom:5px;"><div class="row"><div class="col-md-2"><span style="font-weight:bold">City:</span></div><div class="col-md-8">' + item.city + '</div></div></div>');
                                }
                            });
                        }
                        else {
                            $("#btnParkSelContinue").css("display", "none");
                            $("#divParks").css("display", "none");
                            bootbox.alert("The Zip Code You Are Searching For is Not Available At This time<br/>1.<a href='/renters/notify?Zip=" + $("#findZip").val() +"'>Click Here</a> to be notified when your zip code is available<br/>2.<a href='/renters'>Click Here</a> to Start Over.");
                        }
                        $('#dvLoading').hide();
                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                        $('#dvLoading').hide();
                    });
                }
            });

            var ac = $("#accordion").accordion({
                heightStyle: "content",
                disabled: 1
            });

            $("#accordion").accordion("option", "disabled", 2);
            $("#accordion").accordion("option", "active", 1);
            //$("#accordion").accordion({ active: "h3:last" })

            $("#ddlParks").on("change", function () {
                if(parseInt($(this).val()) === 0)
                {
                    $("#btnNotify").css("display", "block");
                    $("#btnParkSelContinue").css("display", "none");
                }
                else
                {
                    $("#btnNotify").css("display", "none");
                    $("#btnParkSelContinue").css("display", "block");
                }
            });
        });
    </script>
}
