@{
    ViewBag.Title = "Customer Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="page-title">
    Customer Report
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Reporting</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Customer Report</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Customer Report
                </div>
            </div>
            <div class="portlet-body">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Zip Code:</label>
                        @*<input class="form-control" size="16" type="text" id="txtZipCode"/>*@
                        @Html.TextBox("txtZipCode", null, new { @class = "form-control", @placeholder = "Zip code", size = "5" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Last Name:</label>
                        @Html.TextBox("txtLastName", null, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                    <div class="col-md-4" style="vertical-align:bottom; padding-top:22px;">
                        <button class="btn btn-success" id="btnSearch">Search</button>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="tblLists">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                FirstName
                            </th>
                            <th>
                                LastName
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Zip
                            </th>
                            <th>
                                City
                            </th>
                            @*<th>
                                    StateName
                                </th>*@
                        </tr>
                    </thead>
                    @*<tbody id="customerBody"></tbody>*@
                </table>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>







@section scripts
{
    <script src="~/Areas/Admin/Script/reporting.js"></script>
    <script type="text/javascript">
        var zipCode = null;
        var lastName = null;
        var dataTable = null;
        var dataTableAfterInit = null;

        $(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features


            var tableColumns = [
               {
                   "mDataProp": "Id",
                   "bSearchable": false,
                   "bSortable": false,
                   //"bVisible": false
               },
               { "mDataProp": "FirstName" },
               { "mDataProp": "LastName" },
               { "mDataProp": "Phone" },
               { "mDataProp": "Email" },
               { "mDataProp": "Address" },
               { "mDataProp": "Zip" },
               { "mDataProp": "City" },               
            ];            

            ReportingActions.init("/Admin/Reporting/LoadCustomer", tableColumns);
            $("#tblLists_filter").css("display", "none"); //hide common/global filter


            $("#btnSearch").off("click");
            $("#btnSearch").on("click", function (e) {
                e.preventDefault();


                ReportingActions.search();
            });
        });

        //This function must be placed on reporting grid page
        function customSearch(oTable) {
            //debugger;
            zipCode = $("#txtZipCode").val(); //zip for reference
            lastName = $("#txtLastName").val();
            search(oTable, (zipCode != null && zipCode != "" ? "6," + zipCode : null), (lastName != null && lastName != "" ? "2," + lastName : null));
        }

        function search(oTable, zipIdx, lastNameIdx) {
            //redraw table with custom filter
            //debugger;
            
            if (zipIdx == null && lastNameIdx == null) {
                oTable.search('')
                      .columns()
                      .search('')
                      .draw();
            }
            else if (zipIdx != null && lastNameIdx == null) {
                var arrayData = zipIdx.split(",");
                var idx = arrayData[0];
                var value = arrayData[1];
                oTable.column(idx)
                        .search(value)
                        .draw();
            }
            else if (zipIdx == null && lastNameIdx != null) {
                var arrayData = lastNameIdx.split(",");
                var idx = arrayData[0];
                var value = arrayData[1];
                oTable.column(idx)
                        .search(value)
                        .draw();
            }
            else if (zipIdx != null && lastNameIdx != null) {
                var zipArrayData = zipIdx.split(",");
                var zipIdx = zipArrayData[0];
                var zipValue = zipArrayData[1];

                var lastNMArrayData = lastNameIdx.split(",");
                var lastNMIdx = lastNMArrayData[0];
                var lastNMValue = lastNMArrayData[1];
                oTable.column(zipIdx)
                      .search(zipValue)
                      .column(lastNMIdx)
                      .search(lastNMValue)
                      .draw();
            }
        }
    </script>
}
