@{
    ViewBag.Title = "Order Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title">
    Order Report
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Reporting</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Order Report</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Order Report
                </div>
            </div>
            <div class="portlet-body">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Start Date:</label>
                        <div class="form-group">
                            <div class='input-group date' id='txtStartDate'>
                                <input type='text' class="form-control" size="10" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @*<div class="input-icon">
                                <i class="fa fa-calendar"></i>
                                <input class="form-control date-picker" size="10" type="text" id="txtStartDate" />
                            </div>*@
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">End Date:</label>
                        <div class="form-group">
                            <div class='input-group date' id='txtEndDate'>
                                <input type='text' class="form-control" size="10" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @*<div class="input-icon">
                                <i class="fa fa-calendar"></i>
                                <input class="form-control date-picker" size="10" type="text" id="txtEndDate" />
                            </div>*@
                    </div>
                    <div class="col-md-4" style="vertical-align:bottom; padding-top:22px;">
                        <button class="btn btn-success" id="btnSearch">Search</button>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="tblLists">
                    <thead>
                        <tr>
                            <th>
                                TransactionId
                            </th>
                            <th>
                                ApprovalCode
                            </th>
                            <th>
                                ApprovalMessage
                            </th>
                            <th>
                                ErrorMessage
                            </th>
                            <th>
                                ProposalNumber
                            </th>
                            <th>
                                CustomerName
                            </th>
                            <th>
                                CompanyName
                            </th>
                            <th>
                                CreationDate
                            </th>
                            <th>
                                CreatedBy
                            </th>
                            @*<th>
                                    Action
                                </th>*@
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript">
        var startDate = null;
        var endDate = null;
        var dataTable = null;
        var dataTableAfterInit = null;

        $(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features


            //debugger;
            dataTable = $("#tblLists");
            initializeDataTable(false);
            searchOrders($("#txtStartDate").find("input").val(), $("#txtEndDate").find("input").val());


            $("#btnSearch").off("click");
            $("#btnSearch").on("click", function (e) {
                e.preventDefault();

                startDate = $("#txtStartDate").find("input").val();
                endDate = $("#txtEndDate").find("input").val();
                searchOrders(startDate, endDate);
            });

            //initialize date controls
            $('#txtStartDate').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            $('#txtEndDate').datetimepicker({
                format: 'MM/DD/YYYY',
                useCurrent: false //Important! See issue #1075
            });
            $("#txtStartDate").on("dp.change", function (e) {
                $('#txtEndDate').data("DateTimePicker").minDate(e.date);
            });
            $("#txtEndDate").on("dp.change", function (e) {
                $('#txtStartDate').data("DateTimePicker").maxDate(e.date);
            });
        });

        function initializeDataTable(condition) {
            if (!condition && dataTable !== 'undefined') {
                dataTableAfterInit = dataTable.DataTable({
                    dom: 'T<"clearfix">lfrtip',
                    tableTools: {
                        "sSwfPath": "../../Content/assets/global/plugins/TableToolsv2.2.4/swf/copy_csv_xls_pdf.swf"
                    },
                    "lengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "All"] // change per page values here
                    ],
                    "pageLength": 10,
                    "language": {
                        "lengthMenu": " _MENU_ records"
                    },
                    "columnDefs": [{ // set default column settings
                        'orderable': true,
                        'targets': [0]
                    }, {
                        "searchable": true,
                        "targets": [0]
                    }],
                    "order": [
                        [0, "asc"]
                    ], // set first column as a default sort by asc
                    orderCellsTop: true,
                });
            }
            else {
                dataTableAfterInit.destroy();
            }
        }

        function searchOrders(startDate, endDate) {
            //debugger;
            configureBlockUI();
            $.ajax({
                url: "/reporting/SearchOrder",
                dataType: "json",
                data: { startDate: startDate, endDate: endDate }
            }).done(function (data) {
                //debugger;
                initializeDataTable(true);
                $("#tblLists tbody").remove();

                //prepare rows
                var tbody = $("<tbody/>");
                var html = $.map(data, function (item, i) {
                    //debugger;
                    return "<tr><td>" + item.TransactionId + "</td><td>" + item.ApprovalCode + "</td><td>" +
                                     item.ApprovalMessage + "</td><td>" + item.ErrorMessage + "</td><td>" +
                                   item.ProposalNumber + "</td><td>" + item.CustomerName + "</td><td>" +
                             item.CompanyName + "</td><td>" + (item.CreationDateStr == null ? "" : item.CreationDateStr) + "</td><td>" +
                                (item.CreatedBy == null ? "" : item.CreatedBy) + "</td></tr>";
                }).join("");
                tbody.append(html);
                $("#tblLists").append(tbody);
                initializeDataTable(false);
            }).fail(function (error) {
                //debugger;
                bootbox.dialog({
                    message: error.responseText,
                    title: "Error",
                    buttons: {
                        main: {
                            label: "Ok",
                            className: "btn-primary",
                            callback: function () {
                                //Example.show("Primary button");
                            }
                        }
                    }
                });
            });
        }
    </script>
}
