@{
    ViewBag.Title = "Park Sites Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section customstyle
{
    <style type="text/css">
        .modal-dialog {
            width: 85% !important;
        }

        .modal-content {
            width: 100% !important;
        }
    </style>
}
<h3 class="page-title">
    Park Sites Report
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Reporting</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Park Sites Report</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Park Sites Report
                </div>
            </div>
        </div>
    </div>
</div>
