@{
    ViewBag.Title = "Potential Customer Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="page-title">
    Potential Customer Report
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Reporting</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Potential Customer Report</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Potential Customer Report
                </div>
            </div>
            <div class="portlet-body">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label class="control-label">Park Name:</label>
                        <input class="form-control" type="text" id="txtParkName" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Zip Code:</label>
                        @Html.TextBox("txtZipCode", null, new { @class = "form-control", @placeholder = "Zip code", size = "5" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">State:</label>
                        @Html.DropDownList("ddlStateId", new SelectList(new MobileHome.Insure.Service.Master.MasterServiceFacade().GetStates(), "Id", "Name"), "", new { @placeholder = "Select a State", style = "width: 100%" })
                    </div>
                    <div class="col-md-3" style="vertical-align:bottom; padding-top:22px;">
                        <button class="btn btn-success" id="btnSearch">Search</button>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="tblLists">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Park Name
                            </th>
                            <th>
                                Physical Address
                            </th>
                            <th>
                                Physical Zip
                            </th>
                            <th>
                                Physical City
                            </th>
                            <th>
                                Total Own Rental
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var stateId = null;
        var zipCode = null;
        var parkName = null;
        var dataTable = null;
        var dataTableAfterInit = null;


        $(document).ready(function () {
            //initialize Select2
            $("#ddlStateId").select2({
                placeholder: "Select State"
            });

            dataTable = $("#tblLists");
            //initializeDataTable(false);
            //searchPotentials($("#txtParkName").val(),
            //                $("#ddlStateId").val(),
            //                $("#txtZipCode").val());


            $("#btnSearch").off("click");
            $("#btnSearch").on("click", function (e) {
                e.preventDefault();

                stateId = $("#ddlStateId").val();
                zipCode = $("#txtZipCode").val(); //zip for reference
                parkName = $("#txtParkName").val();
                searchPotentials(parkName, stateId, zipCode);
            });
        });

        function initializeDataTable(condition) {
            if (!condition && dataTable !== 'undefined') {
                dataTableAfterInit = dataTable.DataTable({
                    dom: 'T<"clearfix">lfrtip',
                    tableTools: {
                        "sSwfPath": "../../Content/assets/global/plugins/TableToolsv2.2.4/swf/copy_csv_xls_pdf.swf"
                    },
                    "lengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "All"] // change per page values here
                    ],
                    "pageLength": 10,
                    "language": {
                        "lengthMenu": " _MENU_ records"
                    },
                    "columnDefs": [{ // set default column settings
                        'orderable': true,
                        'targets': [0]
                    }, {
                        "searchable": true,
                        "targets": [0]
                    }],
                    "order": [
                        [0, "asc"]
                    ], // set first column as a default sort by asc
                    orderCellsTop: true,
                });
            }
            else {
                dataTableAfterInit.destroy();
            }
        }

        function searchPotentials(parkName, stateId, zipCode) {
            //debugger;
            $.ajax({
                url: "/reporting/SearchPotential",
                dataType: "json",
                data: { parkName: parkName, stateId: stateId, zipCode: zipCode }
            }).done(function (data) {
                //debugger;
                initializeDataTable(true);
                $("#tblLists tbody").remove();

                //prepare rows
                var tbody = $("<tbody/>");
                var html = $.map(data, function (item, i) {
                    //debugger;
                    return "<tr><td>" + item.Id + "</td><td>" + item.ParkName + "</td><td>" +
                                     item.PhysicalAddress + "</td><td>" + item.PhysicalZip + "</td><td>" +
                                    item.PhysicalCity + "</td><td>" + item.TotalOwnRentals + "</td></tr>";
                }).join("");
                tbody.append(html);
                $("#tblLists").append(tbody);
                initializeDataTable(false);
            }).fail(function (error) {
                //debugger;
                bootbox.dialog({
                    message: error.responseText,
                    title: "Error",
                    buttons: {
                        main: {
                            label: "Ok",
                            className: "btn-primary",
                            callback: function () {
                                //Example.show("Primary button");
                            }
                        }
                    }
                });
            });
        }
    </script>
}