@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 m-right">

    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/header-about-us.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>About us</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li>about us</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Info Content -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="m-info">
                <div class="tab-content">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/content/img/tabs/1.png" class="img-responsive" alt="" />
                        </div>
                        <div class="col-md-8 tab-right-content">
                            <h4>Our Company Overview</h4>
                            <p>MobileHome.Insure has two focuses.</p>
                            <p>The first is to find, develop and offer the best mobile home insurance products for our customers. Our customers are those individuals that either rent or own a mobile home.</p>
                            <p>Secondly, we love what technology has to offer us as a company and also how that technology transfers to our customers. From day one, we focused on the ease of use of our proprietary technology to the end user.</p>
                            <p>The result has been nothing but ground breaking. We strive everyday to rethink how technology can help everyone involved in the mobile home insurance marketplace. We hope your experience with MobileHome.Insure is great and simple!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div class="col-md-12 m-clients">
                <h3>Partners</h3>
                <!--<div id="m-clients" class="owl-carousel owl-theme">-->
                <div class="item" align="center"><a href="http://www.aegisfirst.net" target="_blank"><img src="~/content/img/clients/aegis.jpg" class="img-responsive" alt="" /></a></div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
