@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MobileHome.Insure - About Us";
}

<div class="col-md-9 m-right">

    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/header-about-us.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>About us</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li>about us</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Info Content -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="m-info">
                <div class="tab-content">
                    <div class="row">
                        @*<div class="col-md-4">
                            <img src="~/content/img/tabs/1.png" class="img-responsive" alt="" />
                        </div>*@
                        <div class="col-md-12 tab-right-content">
                            <h4>OUR COMPANY MISSION</h4>
                            <p>We are committed to providing great insurance for mobile home renters and owners.</p>
                            <p>We are also committed to utilizing the latest in technology to make the buying experience for our customers fast easy and convenient.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div class="col-md-12 m-clients">
                <h3>Partners</h3>
                <!--<div id="m-clients" class="owl-carousel owl-theme">-->
                <div class="item" align="center"><a href="http://www.aegisfirst.net" target="_blank"><img src="~/content/img/clients/aegis.jpg" class="img-responsive" alt="" /></a></div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
