@model mobilehome.insure.Models.ContactViewModel

@{
    ViewBag.Title = "Mobile Home Contact - MobileHome.Insure";
}

<div class="col-md-9 m-right">
    

    <div id="rightcontainer" style="background-color:white" class="contact-form">
        <div class="row" data-animated="0">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Contact</h1>
                </div>
                <div class="col-md-8">
                    @{Html.RenderPartial("_contact"); }
                </div>
            </div>
            <div style="margin-top:10px">&nbsp;</div>
        </div>
    </div>
</div>
@if (ViewBag.ContactSent)
{
    <script type="text/javascript">
        alert("Message Sent Successfully");
        $("#successMessage").show();
    </script>
}
