@model mobilehome.insure.Models.ContactViewModel

@{
    ViewBag.Title = "Mobile Home Contact - MobileHome.Insure";
}

<div class="col-md-9 m-right">
    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/about-us-header.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>Contact Us</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li>contact us</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <div id="m-info">
                <div class="tab-content">
                    <div class="row">
                        @*<div class="col-md-4">
                                <img src="~/content/img/tabs/1.png" class="img-responsive" alt="" />
                            </div>*@
                        <div class="col-md-12 tab-right-content">
                            <p>Our licensed agents are here to help you navigate obtaining a new mobile home insurance policy. We are here to help from 8AM until 8PM Eastern Standard Time.</p>
                            <p>If you have any questions, please don't hesitate to send them a message. info@mobilehome.insure email us today!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rightcontainer" style="background-color:white">
        <div class="row" data-animated="0">
            <div class="col-md-12">
            </div>
            <div class="col-md-12" id="m-contact" style="width:840px; left:15px">
                @{Html.RenderPartial("_contact"); }

                <div class="contact-info" data-animated="0">
                    <h4>Contact Info</h4>
                    <ul>
                        <li><i class="fa fa-phone"></i> 877-773-1055</li>
                        <li><i class="fa fa-fax"></i> 303.379.6606</li>
                        <li><i class="fa fa-envelope"></i> info@mobilehome.insure</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
@if (ViewBag.ContactSent)
{
    <script type="text/javascript">
        alert("Message Sent Successfully");
        $("#successMessage").show();
    </script>
}
