@{
    ViewBag.Title = "MobileHome.Insure - Insurance for Mobile Homes & Manufactured Houses";
}

	<div class="col-md-9 m-right">
        <div class="alert alert-info alert-renters-close" role="alert" style="display:none">
            You have chosen to cancel.  If you wish to start over, please click <a href="/renters">here</a>
            <br/>If you wish to contact us because you were experiencing problems, please contact us <a href="/home/contact">here</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
			<!-- page header -->
        <div class="row" data-animated="0">
            <div class="col-md-12">
                <img src="~/content/img/mhparkindex.png" width="840px" style="height:225px !important" class="img-responsive" />
                <div id="page-header">
                    <h3><span>Start your Mobile Home Quote Now!</span></h3>
                    <ul class="bread_crumbs">
                        <li> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Info Content -->
        <div class="row" data-animated="0">
            <div class="col-md-6">
                <div id="m-info" style="height:300px">
                    <div class="tab-content" style="height: 250px;">
                        <div class="row">

                            <div class="col-md-6">
                                <a class="btn" href="http://www.specialtyhomeowners.com/mobilhomeinsure" target="_blank">Homeowners - Quote Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="m-info" style="height:300px">
                    <div class="tab-content" style="height: 250px;">
                        <div class="row">
                            <div class="col-md-6">
                                @if (Request.Url.Host != "mobilehome.insure")
                                {
                                    <a class="btn" href="/Renters">Renters - Quote Now!</a>
                                }
                                else
                                {
                                    <a class="btn" href="https://mobilehome.insure/Renters">Renters - Quote Now!</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	

			<!-- Welcome Content -->
			<div class="row" data-animated="0">
				<div class="col-md-12">
					<div id="welcome">
						<h3>Your online home to purchase Mobile Home Insurance quickly and easily!</h3>
				    </div>
				</div>
			</div>
			
			<!-- Services Content -->
			@*<div class="row" data-animated="0">
				<div class="col-md-12">
					<div id="services">
						<ul>
							<li data-animated="0">
                                <a href="/renters">
                                    <i class="fa fa-edit"></i>
                                    <h4>Save Time &amp; Money</h4>
                                    <p>Renters Insurance You Can Afford!</p>
                                </a>
							</li>
							<li data-animated="0">
                                <a href="/renters">
                                    <i class="fa fa-html5"></i>
                                    <h4>The Right Policy At The Right Price</h4>
                                    <p>MobileHome.Insure Matches Our Customers With the Perfect Policy!</p>
                                </a>
							</li>
							<li data-animated="0">
                                <a href="/renters">
                                    <i class="fa fa-money"></i>
                                    <h4>Quote, Buy, Print!</h4>
                                    <p>We Make Buying a Mobile Home Policy Easy & Fast</p>
                                </a>
							</li>
						</ul>
					</div>
				</div>
			</div>*@
			
			<!-- Tab content -->
			<div class="row">
				<div class="col-md-12">
					<div id="features-tab" data-animated="0">
					
						<!-- Tab nav -->
						<ul class="nav-tabs" role="tablist" id="myTab">
							<li class="active"><a href="#tab1" role="tab" data-toggle="tab">Save Time & Money</a></li>
							<li><a href="#tab2" role="tab" data-toggle="tab">Straight Talk</a></li>
							<li><a href="#tab3" role="tab" data-toggle="tab">Expert Advice</a></li>
							<li><a href="#tab4" role="tab" data-toggle="tab">Peace Of Mind</a></li>
						</ul>
						
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active fade in" id="tab1">
								<div class="row">
									<div class="col-md-4">
                                        <img src="content/img/tabs/save-time-money.png" class="img-responsive" alt="" />
									</div>
									<div class="col-md-8 tab-right-content">
										<h4>Save Time & Money</h4>
										<p>MobileHome.Insure specializes in providing our customers with competitive rates.</p>
										<p>Our technology enables you to purchase a Renters Policy in minutes.</p>
                                        <p><a href="/Renters" class="btn-default btn-center">Quote Now!</a></p>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab2">
								<div class="row">
									<div class="col-md-8 tab-left-content">
										<h4>Straight Talk</h4>
										<p>Each of our staff is committed to giving you the right answer every time.</p>
										<p>Our team members are not only knowledgeable about our products but are also trained to be great communicators. We strive to be able to explain insurance coverage in easy to understand language.</p>
                                        <p><a href="/Renters" class="btn-default btn-center">Quote Now!</a></p>
									</div>
									<div class="col-md-4">
                                        <img src="content/img/tabs/straight_talk.png" class="img-responsive" alt="" />
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab3">
								<div class="row">
									<div class="col-md-4">
                                        <img src="content/img/tabs/expertadvice.png" class="img-responsive" alt="" />
									</div>
									<div class="col-md-8 tab-right-content">
										<h4>Expert Advice</h4>
										<p>We built a world class support system right into our business.</p>
										<p>We offer expert advice and accurate information in a quick and clear manner. Have questions about your policy, your bill, or need help getting a new quote? NO PROBLEM! Our support specialists are here when you need them.</p>
                                        <p><a href="/Renters" class="btn-default btn-center">Quote Now!</a></p>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab4">
								<div class="row">
									<div class="col-md-8 tab-left-content">
										<h4>Peace Of Mind</h4>
										<p>You want to have peace of mind when it comes to protecting your property. We work very hard to provide a good product, written with a good company at a good price. Knowing that you have protected yourself goes a long way to provide you with Peace of Mind.</p>
										@*<p>Each of our staff is committed to giving you the right answer every time.</p>*@
                                        <p><a href="/Renters" class="btn-default btn-center">Quote Now!</a></p>
									</div>
									<div class="col-md-4">
                                        <img src="content/img/tabs/peace_of_mind.png" class="img-responsive" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
  
			<!-- Footer contact -->
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12" id="m-contact" data-animated="0">
						@{Html.RenderPartial("_contact"); }

						<div class="contact-info" data-animated="0">
							<h4>Contact Info</h4>
							<ul>
								<li><i class="fa fa-phone"></i> 877-773-1055</li>
								<li><i class="fa fa-fax"></i> 303-379-6606</li>
								<li><i class="fa fa-envelope"></i> info@mobilehome.insure</li>
							</ul>
						</div>
<!--						<div class="flickr-widget" data-animated="0">
							<h4>Flickr Gallery</h4>
							<ul id="flickr" class="thumbs"></ul>
						</div>
-->					</div>
				</div>
			</div>
			
			<!-- Footer - copyright -->
			
		</div>

@if (ViewBag.ContactSent)
{
    <script type="text/javascript">
        alert("Message Sent Successfully");
        $("#successMessage").show();
        
    </script>
}
