@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MobileHome.Insure - About Us";
}

<div class="col-md-9 m-right">

    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/header-about-us.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>Welcome</span></h3>
                <ul class="bread_crumbs">
                        <li>Please make your selection below</li>
                        
                    </ul>
            </div>
        </div>
    </div>

    <!-- Info Content -->
    <div class="row" data-animated="0">
        <div class="col-md-6">
            <div id="m-info" style="height:300px">
                <div class="tab-content" style="height: 250px;">
                    <div class="row">

                        <div class="col-md-6">
                            <a class="btn" href="#">Homeowners</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="m-info" style="height:300px">
                <div class="tab-content" style="height: 250px;">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn" href="/Renters">Renters</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
