/* Add here all your CSS customizations */
#rightContainer
{
    
    min-height:600px !important;
    background-color:white !important;
    
}

#rigthContainerCentered {
    display:table-cell;
    height:600px;
    vertical-align:middle;
    text-align:center;
}