/* Add here all your CSS customizations */
#rightContainer
{
    
    min-height:600px !important;
    background-color:white !important;
    
}

#rigthContainerCentered {
    display:table-cell;
    height:600px;
    vertical-align:middle;
    text-align:center;
}

.tooltip-image
{
    background-image:url('../img/tooltip.png');
    float:left;
    width:16px;
    height:16px;
    margin-left:5px;
    margin-top: 0px;
}