@{
    ViewBag.Title = "List of Payments";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Payments
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Customer Management</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Payment</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Payments Data
                </div>
            </div>
            <div class="portlet-body">
                @*<div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                @Html.ActionLink("Add New ", "Edit", "Park", null, new { @class = "modal-link btn green" })
                            </div>
                        </div>
                    </div>
                </div>*@
                <table class="table table-striped table-hover table-bordered" id="tblLists">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Transaction Id
                            </th>
                            <th>
                                Response Code
                            </th>
                            <th>
                                Approval Code
                            </th>
                            <th>
                                Approval Message
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>                    
                </table>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Areas/Admin/Script/customer.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features

            //$('#tblLists').dataTable({
            //    "bProcessing": true,
            //    "bServerSide": true,
            //    "sServerMethod": "POST",
            //    "sAjaxSource": "/Admin/Park/Loading",
            //    "aoColumns": [
            //    { "mDataProp": "Id" },
            //    { "mDataProp": "Name" },
            //    { "mDataProp": "Position" },
            //    { "mDataProp": "Phone" },
            //    { "mDataProp": "Spaces" },
            //    { "mDataProp": "Address" },
            //    { "mDataProp": "Zip" },
            //    ],
            //    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            //        debugger;
            //        //var birthday = new Date(parseInt(aData.Birthday.replace("/Date(", "").replace(")/", ""), 10));
            //        //$('td:eq(3)', nRow).html(birthday.getMonth() + 1 + "/" + birthday.getDate() + "/" + birthday.getFullYear());
            //    }
            //});

            var tableColumns = [
                {
                    "mDataProp": "Id",
                    "bSearchable": false,
                    "bSortable": false,
                    //"bVisible": false
                },
                { "mDataProp": "TransactionId" },
                { "mDataProp": "ResponseCode" },
                { "mDataProp": "ApprovalCode" },
                { "mDataProp": "ApprovalMessage" },
                { "mDataProp": "Amount" },
                //{ "mDataProp": "Zip" },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<a href="/admin/customer/delete?id=" class="delete-link" data-type="payment">Delete</a>'
                }
            ];
            CustomerActions.init("/Admin/Customer/LoadingPayment", tableColumns);
        });
    </script>
}
