@model mobilehome.insure.Areas.Admin.Models.ParkViewModel

@{
    ViewBag.Title = "List of Parks";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .custom-portlet {
        width: 900px !important;
        /*margin: 30px auto !important;*/
        left: 20px;
        /*overflow: auto;*/
    }

    .input-medium {
        width: 100% !important;
    }

    .form .form-actions {
        padding: 10px !important;
    }

    .bootstrap-switch .bootstrap-switch-default.bootstrap-switch-handle-on,
    .bootstrap-switch .bootstrap-switch-default.bootstrap-switch-handle-off {
        background: #c12424;
    }
</style>

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Parks
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Master</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Park</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Parks Data
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                @*<a href="#" class="btn green customdialog" data-url="@Url.Action("Edit", "Park")">Add New</a>*@
                                @Html.ActionLink("Add New ", "Edit", "Park", null, new { @class = "modal-link btn green" })
                                <button class="btn green" data-toggle="modal" data-target="#importPark" type="button" data-backdrop="static" data-keyboard="false">
                                    Import Parks
                                </button>
                                @*@Html.ActionLink("Import Parks", "Import", "Park", null, new { @class = "modal-link btn green" })*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="tblLists">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            @*<th>
                                    Position
                                </th>*@
                            <th>
                                Office Phone
                            </th>
                            <th>
                                Spaces to Rent
                            </th>
                            <th>
                                Physical Address
                            </th>
                            <th>
                                Physical Zip
                            </th>
                            <th>
                                On/Off
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        <tr id="filterrow">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            @*<th>
                                    Position
                                </th>*@
                            <th>
                                Office Phone
                            </th>
                            <th>
                                Spaces to rent
                            </th>
                            <th>
                                Physical Address
                            </th>
                            <th>
                                Physical Zip
                            </th>
                            <th>
                                On/Off
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>


<div class="modal fade" id="importPark" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Import Parks</h4>
            </div>
            <div class="modal-body">
                <br />

                <div class="form-group">
                    <form action="/Admin/Park/Import" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneJsForm">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                            <input type="submit" value="Upload" />
                        </div>
                    </form>
                    @*<form action="/Admin/Park/Import" class="dropzone" id="dropzoneJsForm"></form>*@
                    <p class="help-block">Example upload only .CSV file format.</p>
                    <br />
                    <table class="table table-bordered table-striped" id="completedStatuMsg">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>File Name</th>
                                <th>Duplicate Counts</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody id="tblBody"></tbody>
                    </table>
                    <div id="bootstrap_alerts_demo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="clearDropzone">Clear Files</button>
                <button type="button" class="btn btn-primary" id="uploadFiles">Upload File(s)</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END PAGE CONTENT -->
@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Areas/Admin/Script/park.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features

            //$('#tblLists').dataTable({
            //    "bProcessing": true,
            //    "bServerSide": true,
            //    "sServerMethod": "POST",
            //    "sAjaxSource": "/Admin/Park/Loading",
            //    "aoColumns": [
            //    { "mDataProp": "Id" },
            //    { "mDataProp": "Name" },
            //    { "mDataProp": "Position" },
            //    { "mDataProp": "Phone" },
            //    { "mDataProp": "Spaces" },
            //    { "mDataProp": "Address" },
            //    { "mDataProp": "Zip" },
            //    ],
            //    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            //        debugger;
            //        //var birthday = new Date(parseInt(aData.Birthday.replace("/Date(", "").replace(")/", ""), 10));
            //        //$('td:eq(3)', nRow).html(birthday.getMonth() + 1 + "/" + birthday.getDate() + "/" + birthday.getFullYear());
            //    }
            //});

            var tableColumns = [
                {
                    "mDataProp": "Id",
                    "bSearchable": false,
                    "bSortable": false,
                    "sWidth": "9%"
                    //"bVisible": false
                },
                { "mDataProp": "ParkName" },
                //{ "mDataProp": "Position" },
                { "mDataProp": "OfficePhone", "sWidth": "15%" },
                { "mDataProp": "SpacesToRent", "sWidth": "10%" },
                { "mDataProp": "PhysicalAddress" },
                { "mDataProp": "PhysicalZip", "sWidth": "10%" },
                { "mDataProp": "IsActive", "sWidth": "9%", className: "center" },
                {
                    data: null,
                    className: "center",
                    "sWidth": "8%",
                    defaultContent: '<a href="/admin/park/edit?id=" class="modal-link edit-link">Edit</a> / <a href="/admin/park/delete?id=" class="delete-link">Delete</a>'
                }
            ];

            $('#tblLists thead tr#filterrow th').each(function () {
                //debugger;
                var title = $('#tblLists thead th').eq($(this).index()).text();
                title = title.replace("\n", "").replace("\n", "").trim();
                if (title !== "Action") {
                    $(this).html('<input type="text" onclick="stopPropagation(event);" class="form-control" placeholder="Search ' + title + '" />');
                }
                else {
                    $('#tblLists thead tr#filterrow th').eq($(this).index()).text("");
                }
            });


            ParkActions.init("/Admin/Park/Loading", tableColumns);
            $("#tblLists_filter").css("display", "none"); //hide common/global filter
            $("#completedStatuMsg").hide();//By default will be hide status table

            //handler of uploader dialog box
            $("#importPark").on('hidden.bs.modal', function () {
                //debugger;
                location.reload();
            });

            //initialize Dropzone for file uploader
            Dropzone.options.dropzoneJsForm = {
                //prevents Dropzone from uploading dropped files immediately
                autoProcessQueue: false,
                //maxFilesize: 1,
                acceptedFiles: ".csv", //".png, .jpg";

                init: function () {
                    this.on("error", function (file, message) {
                        //debugger;
                        alert(message);
                    });

                    this.on("complete", function (data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        //debugger;
                        var result = JSON.parse(data.xhr.responseText);
                        $("#uploadFiles").attr("disabled", "disabled");
                        $("#uploadFiles").addClass("disabled");

                        // build the table from JSON
                        if (result.Result) {
                            var tr;
                            for (var i = 0; i < result.Result.length; i++) {
                                tr = $('<tr/>');
                                tr.append("<td>" + result.Result[i].Id + "</td>");
                                tr.append("<td>" + result.Result[i].FileName + "</td>");
                                tr.append("<td>" + result.Result[i].CountDuplicates + "</td>");
                                tr.append("<td><span class='" + result.Result[i].ClassName + "'>" + result.Result[i].Message + "</span></td>");// editable
                                $('#tblBody').append(tr);
                            }
                            $("#completedStatuMsg").show();
                        }
                        else {
                            Metronic.alert({
                                container: $('#bootstrap_alerts_demo'), // alerts parent container(by default placed after the page breadcrumbs)
                                place: 'append', // append or prepent in container
                                type: 'danger',  // alert's type
                                message: result.Message,  // alert's message
                                close: true, // make alert closable
                                reset: true, // close all previouse alerts first
                                focus: true, // auto scroll to the alert after shown
                                closeInSeconds: 10, // auto close after defined seconds
                                icon: 'warning' // put icon before the message
                            });
                        }
                    });

                    // Using a closure. clear or remove all selected files from dropzone box.
                    var _this = this;
                    // Setup the observer for the button.
                    document.querySelector("button#clearDropzone").addEventListener("click", function () {
                        // Using "_this" here, because "this" doesn't point to the dropzone anymore
                        _this.removeAllFiles();
                        // If you want to cancel uploads as well, you
                        // could also call _this.removeAllFiles(true);

                        //enable upload button
                        $("#uploadFiles").removeAttr("disabled");
                        $("#uploadFiles").removeClass("disabled");
                        $('#tblBody').html('');
                        $("#completedStatuMsg").hide();
                    });

                    //adding remove button for individual item
                    this.on("addedfile", function (file) {
                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button class='btn btn-sm btn-block'>Remove file</button>");

                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                    });

                    var submitButton = document.querySelector("#uploadFiles");
                    var myDropzone = this; //closure
                    submitButton.addEventListener("click", function () {

                        //tell Dropzone to process all queued files
                        myDropzone.processQueue();
                    });
                }
            };

        });

        function stopPropagation(evt) {
            if (evt.stopPropagation !== undefined) {
                evt.stopPropagation();
            } else {
                evt.cancelBubble = true;
            }
        }
    </script>
}
