@{
    ViewBag.Title = "Support - MobileHome.Insure";
}

<div class="col-md-9 m-right">
    <div id="rightcontainer" style="background-color:white">
        <div class="row" data-animated="0">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Support</h1>
                </div>
            </div>
        </div>
    </div>
</div>