@{
    ViewBag.Title = "having-peace-of-mind page - MobileHome.Insure";
}

<div class="col-md-9 m-right">
    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/about-us-header.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>Straight Talk Customer Service</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li><a href="/support">support</a></li>
                    <li>straight talk</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="rightcontainer" style="background-color:white">
        <div class="row" data-animated="0">
            <div class="col-md-12">
                <div id="m-info">
                    Our licensed agents are here to help you navigate obtaining a new mobile home insurance policy. We are here to help from 8AM until 8PM Eastern Standard Time.
                    If you have any questions, please don't hesitate to send them a message.
                    <a href="mailto:info@mobilehome.insure">info@mobilehome.insure</a> email us today!</div>
            </div>
        </div>
    </div>
</div>