@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
}

<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    @*<li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>*@
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    @if (controller == "dashboard")
    {
        @:<li class="active open">
    }
    else
    {
        @:<li>
    }
        <a href="javascript:;">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>

    @if (controller == "appraisal")
    {
        @:<li class="active open">
    }
    else
    {
        @:<li>
    }
    <a href="javascript:;">
        <i class="glyphicon glyphicon-font"></i>
        <span class="title">Appraisal</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="~/Admin/Appraisal/AgeFactor">Age Factor</a>
        </li>
        <li>
            <a href="~/Admin/Appraisal/AreaFactor">Area Factor</a>
        </li>
        <li>
            <a href="~/Admin/Appraisal/ManufacturerFactor">Manufacturer Factor</a>
        </li>

        <li>
            <a href="~/Admin/Appraisal/OptionsFactor">Options Factor</a>
        </li>
        <li>
            <a href="~/Admin/Appraisal/StateFactor">State Factor</a>
        </li>

    </ul>
</li>
    @if (controller == "master")
    {
        @:<li class="active open">
    }
    else
    {
        @:<li>
    }
        <a href="javascript:;">
            <i class="icon-home"></i>
            <span class="title">Renters</span>
            <span class="selected"></span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="~/Admin/Master/Manufacturer">
                    <i class="icon-home"></i>
                    Manufacturer</a>
            </li>
            <li>
                <a href="~/Admin/Master/State">
                    <i class="icon-basket"></i>
                    States</a>
            </li>
            <li>
                <a href="~/Admin/Master/Park">
                    <i class="glyphicon glyphicon-tree-conifer"></i>
                    Park
                </a>
            </li>
            <li>
                <a href="~/Admin/Master/Notify">
                    <i class="glyphicon glyphicon-ok"></i>
                    Notify
                </a>
            </li>
        </ul>
    </li>
   
    @if (controller == "customer")
    {
        @:<li class="active open">
    }
    else
    {
        @:<li>
    }
     <a href="javascript:;">
            <i class="icon-users"></i>
            <span class="title">Customer Management</span>
            <span class="selected"></span>
            <span class="arrow "></span>
     </a>
     <ul class="sub-menu">
            <li>
                <a href="~/Admin/Customer/Index">
                    <i class="icon-user"></i>
                    Customer</a>
            </li>
            <li>
                <a href="~/Admin/Customer/Quote">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Quote</a>
            </li>
             <li>
                 <a href="~/Admin/Customer/Policy">
                     <i class="glyphicon glyphicon-file"></i>
                     Policy
                 </a>
             </li>
            <li>
                <a href="~/Admin/Customer/Payment">
                    <i class="glyphicon glyphicon-usd"></i>
                    Payment
                </a>
            </li>
        </ul>
    </li>

    @if (controller == "reporting")
    {
        @:<li class="active open">
    }
    else
    {
        @:<li>
    }
    <a href="javascript:;">
        <i class="icon-list"></i>
        <span class="title">Reporting</span>
        <span class="selected"></span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="~/Admin/reporting/order">
                <i class="glyphicon glyphicon-list-alt"></i>
                List of Orders
            </a>
        </li>
        <li>
            <a href="~/Admin/reporting/customer">
                <i class="icon-user"></i>
                List of Customers
            </a>
        </li>
        <li>
            <a href="~/Admin/reporting/park">
                <i class="glyphicon glyphicon-tree-conifer"></i>
                List of Parks
            </a>
        </li>
        @*<li>
            <a href="~/Admin/reporting/potentialcustomers">
                <i class="glyphicon glyphicon-usd"></i>
                Potential Customers
            </a>
        </li>*@
        <li>
            <a href="~/Admin/reporting/premiumreport">
                <i class="glyphicon glyphicon-usd"></i>
                Total Premium Report
            </a>
        </li>
        
    </ul>

</li>
   
</ul>
<!-- END SIDEBAR MENU -->
